MQTT/pico and node red/LED/button_led_flow.json
[
  {
    "id": "3b2fdbb0034d9ed9",
    "type": "tab",
    "label": "Flow",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "66b27777e8c01755",
    "type": "mqtt in",
    "z": "3b2fdbb0034d9ed9",
    "name": "Button State",
    "topic": "button_state",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "d1fd3606d78fcb8f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 160,
    "wires": [["d0588f2299c00904", "2b9f1a659165378b", "9b7b1c85d4089881"]]
  },
  {
    "id": "d0588f2299c00904",
    "type": "function",
    "z": "3b2fdbb0034d9ed9",
    "name": "process button input value",
    "func": "if (msg.payload == \"1\") {\n    msg.payload = \"pressed\";\n} else if (msg.payload == \"0\") {\n    msg.payload = \"unpressed\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 180,
    "wires": [["a92c2516011bff19"]]
  },
  {
    "id": "a92c2516011bff19",
    "type": "ui_text",
    "z": "3b2fdbb0034d9ed9",
    "group": "9deee9faf7d80a69",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "Button state",
    "label": "Button state",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "2b9f1a659165378b",
    "type": "debug",
    "z": "3b2fdbb0034d9ed9",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 300,
    "wires": []
  },
  {
    "id": "5029c4d04589e6f8",
    "type": "mqtt out",
    "z": "3b2fdbb0034d9ed9",
    "name": "Send LED state",
    "topic": "led_state",
    "qos": "2",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d1fd3606d78fcb8f",
    "x": 760,
    "y": 100,
    "wires": []
  },
  {
    "id": "9b7b1c85d4089881",
    "type": "function",
    "z": "3b2fdbb0034d9ed9",
    "name": "Set LEDs",
    "func": "if (msg.payload == \"1\") {\n    msg.payload = \"on\";\n} else if (msg.payload == \"0\") {\n    msg.payload = \"off\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 100,
    "wires": [["5029c4d04589e6f8"]]
  },
  {
    "id": "d1fd3606d78fcb8f",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "192.168.68.55",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "9deee9faf7d80a69",
    "type": "ui_group",
    "name": "LED Control",
    "tab": "fece2ce86ec17a1c",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "fece2ce86ec17a1c",
    "type": "ui_tab",
    "name": "LED Control",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
