MQTT/Raspberry Pi Pico W and Node Red/Joystick/flows.json
[
  {
    "id": "150920a89017981a",
    "type": "tab",
    "label": "Joystick",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "67b9bc75c91f194e",
    "type": "mqtt in",
    "z": "150920a89017981a",
    "name": "Get Joystick Sate",
    "topic": "joystick",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "d1fd3606d78fcb8f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 240,
    "y": 240,
    "wires": [["c74fd12963319a5e", "acebd52c444df208"]]
  },
  {
    "id": "c74fd12963319a5e",
    "type": "debug",
    "z": "150920a89017981a",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 440,
    "y": 100,
    "wires": []
  },
  {
    "id": "acebd52c444df208",
    "type": "json",
    "z": "150920a89017981a",
    "name": "Create JSON object",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 460,
    "y": 300,
    "wires": [["1addb0e97dc0013c"]]
  },
  {
    "id": "1addb0e97dc0013c",
    "type": "function",
    "z": "150920a89017981a",
    "name": "Decompose JSON",
    "func": "var button = { payload: msg.payload.button_value };\nvar x_value = { payload: parseInt(msg.payload.x_value) };\nvar y_value = { payload: parseInt(msg.payload.y_value) };\nreturn [button, x_value, y_value];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 200,
    "wires": [["9365b7bcc09e4647"], ["48e344c3dce3354b"], ["8da7740452778f31"]]
  },
  {
    "id": "9365b7bcc09e4647",
    "type": "ui_text",
    "z": "150920a89017981a",
    "group": "a9accc81d9097e21",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "Button State",
    "label": "Button State",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 950,
    "y": 140,
    "wires": []
  },
  {
    "id": "48e344c3dce3354b",
    "type": "ui_slider",
    "z": "150920a89017981a",
    "name": "X Joystick",
    "label": "X Joystick",
    "tooltip": "",
    "group": "a9accc81d9097e21",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "65375",
    "step": "10",
    "className": "",
    "x": 940,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "8da7740452778f31",
    "type": "ui_slider",
    "z": "150920a89017981a",
    "name": "Y Joystick",
    "label": "Y Joystick",
    "tooltip": "",
    "group": "a9accc81d9097e21",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "65375",
    "step": "10",
    "className": "",
    "x": 960,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "d1fd3606d78fcb8f",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "192.168.68.55",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "a9accc81d9097e21",
    "type": "ui_group",
    "name": "Joystick",
    "tab": "f9b9cdd5d9c20fc4",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "f9b9cdd5d9c20fc4",
    "type": "ui_tab",
    "name": "Joystick",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
