MQTT/Raspberry Pi Pico W and Node Red/Button/flows_sampling.json
[
  {
    "id": "3b2fdbb0034d9ed9",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "66b27777e8c01755",
    "type": "mqtt in",
    "z": "3b2fdbb0034d9ed9",
    "name": "Button State",
    "topic": "button_state",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "d1fd3606d78fcb8f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 160,
    "wires": [["d0588f2299c00904", "2b9f1a659165378b"]]
  },
  {
    "id": "d0588f2299c00904",
    "type": "function",
    "z": "3b2fdbb0034d9ed9",
    "name": "process button input value",
    "func": "if (msg.payload == 1) {\n    msg.payload = \"Pressed\";\n} else if (msg.payload == \"\") {\n    msg.payload = \"Not Pressed\";\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 120,
    "wires": [["a92c2516011bff19"]]
  },
  {
    "id": "a92c2516011bff19",
    "type": "ui_text",
    "z": "3b2fdbb0034d9ed9",
    "group": "d7123c087d7b7c1a",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "Button state",
    "label": "Button state",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 690,
    "y": 160,
    "wires": []
  },
  {
    "id": "2b9f1a659165378b",
    "type": "debug",
    "z": "3b2fdbb0034d9ed9",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 280,
    "wires": []
  },
  {
    "id": "d1fd3606d78fcb8f",
    "type": "mqtt-broker",
    "name": "Broker name",
    "broker": "192....",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "d7123c087d7b7c1a",
    "type": "ui_group",
    "name": "Button",
    "tab": "cb3b85ebf93f655c",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "cb3b85ebf93f655c",
    "type": "ui_tab",
    "name": "Button",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
